body {
  margin: 0;
  font-family: system-ui;
  background: #0f0f13;
  color: white;
}

#login-screen {
  width: 320px;
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #1c1c24;
  color: white;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg,#5865f2,#7c4dff);
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}

#chat-screen {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 260px;
  background: #14141a;
  padding: 10px;
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#messages {
  flex: 1;
  list-style: none;
  padding: 10px;
  overflow-y: auto;
}

.message {
  padding: 10px;
  margin-bottom: 8px;
  background: #1c1c24;
  border-radius: 10px;
}

.input-area {
  display: flex;
  padding: 10px;
  background: #14141a;
  gap: 5px;
}

.online-dot {
  color: #00ff88;
  margin-right: 5px;
}
